
.container .panel-footer { border-bottom: 1px solid #ddd;}
.social-button img { float: left; margin-left: 30px;}
.social-button img:hover { opacity: 0.5; }
.container .panel-body{ border-bottom: 1px solid #ddd;}
.registr { text-align: center; }
.reg label { text-indent: 90px; }
.container-signin{
    width: 400px;
}
a{
    text-decoration: none;
    color:black;
}
.form-control-fc{
    margin-right: 20px;
    margin-left: 20px;

}
@media screen and (max-width:500px){
    .container-signin{
        width:100%;

    }
}
.nav{
    height: 0px;
}

.road_margin {margin-top:20px;}

/*выпадающий список для создания маршрута*/
.droplist { }
.list {
    display: none;
    position: absolute;
    background-color: #F3F3F3;
    border: 1px solid #aaa;
    text-align: left;
    overflow: auto;
    z-index: 999;
    top: 33px;
    width: 94%;
}
.list option:hover {
    background: #33aaff;
    cursor: pointer;
}